extends layout

block title
  title prometheansacrifice

block fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:400,300|Merriweather:300,400',
     rel='stylesheet' type='text/css')

block styles
  link(href='css/main.css', rel='stylesheet', type='text/css')

block content
  .psac-home-view
    h1 Manas Jayanth
    h2 (prometheansacrifice)
    p Looking for javascript nirvana