extends layout

block title
  title prometheansacrifice

block fonts
  link(href='https://fonts.googleapis.com/css?family=Lato:400,300|Merriweather:300,400',
     rel='stylesheet' type='text/css')

block styles
  link(href='css/main.css', rel='stylesheet', type='text/css')

block content
  .psac-social-icons
    a(href="http://github.com/prometheansacrifice")
      span.icon-github4
    a(href="https://twitter.com/ManasJayanth")
      span.icon-twitter
  .psac-home-view
    h1 Manas Jayanth
    h2 (prometheansacrifice)
    p Looking for nirvana in code