.psac-internals {
    &.display-block {
        display: block;
    }
    &.vertically-align {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
}
