@import 'mixins/media-query-breakpoints';
@import 'mixins/fonts';
@import 'font-icons';
@import 'hexcodes';
@import 'internals';

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.psac-social-icons {
    padding: 1rem;
    float: right;

    a {
        font-size: 1.5rem;
        margin: 0 0.33rem;
        box-shadow: none;

        &:link,
        &:visited {
            text-decoration: none;
            color: #999;
        }

        &:hover {
            color: #333;
        }
    }
}

.psac-home-view {
    @extend .psac-internals.vertically-align;
    width: 100%;
    text-align: center;

    h1, h2, p {
        margin: 1rem 0;
    }

    h1 {
        font-size: 4rem;
        @include lato;
        text-transform: uppercase;
        @include mobile {
            font-size: 2rem;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 2rem;
        @include lato;
        color: #CCC;
        @include mobile {
            font-size: 1.25rem;
        }
    }

    p {
        font-weight: 300;
        font-size: 2rem;
        @include lato;
        color: #666;
        @include mobile {
            font-size: 1.5rem;
        }
    }
}
